# EDA on R
## Data Import

For basic data profile, please check out [Profile Report]('ProfileReport_mini.html')

In [1]:
#%%R
library(tidyverse)
library(ggplot2)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
train_df = read_csv('data/widsdatathon2022/train.csv')
head(train_df)

Rows: 75757 Columns: 64

── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): State_Factor, building_class, facility_type
dbl (61): Year_Factor, floor_area, year_built, energy_star_rating, ELEVATION...


ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Year_Factor State_Factor building_class
1 1           State_1      Commercial
2 1           State_1      Commercial
3 1           State_1      Commercial
4 1           State_1      Commercial
5 1           State_1      Commercial
6 1           State_1      Commercial
  facility_type                             floor_area year_built
1 Grocery_store_or_food_market               61242     1942
2 Warehouse_Distribution_or_Shipping_center 274000     1955
3 Retail_Enclosed_mall                      280025     1951
4 Education_Other_classroom                  55325     1980
5 Warehouse_Nonrefrigerated                  66000     1985
6 Warehouse_Selfstorage                     119900     1956
  energy_star_rating ELEVATION january_min_temp january_avg_temp ⋯
1  11                2.4       36               50.5             ⋯
2  45                1.8       36               50.5             ⋯
3  97                1.8       36               50.5             ⋯
4  46                1.8       36               50.5             ⋯
5 100                2.4       36               50.5             ⋯
6  NA                2.4       36               50.5             ⋯
  days_above_80F days_above_90F days_above_100F days_above_110F
1 14             0              0               0
2 14             0              0               0
3 14             0              0               0
4 14             0              0               0
5 14             0              0               0
6 14             0              0               0
  direction_max_wind_speed direction_peak_wind_speed max_wind_speed
1 1                         1                        1
2 1                        NA                        1
3 1                        NA                        1
4 1                        NA                        1
5 1                         1                        1
6 1                         1                        1
  days_with_fog site_eui   id
1 NA            248.682615 0
2 12             26.500150 1
3 12             24.693619 2
4 12             48.406926 3
5 NA              3.899395 4
6 NA              6.597715 5